# Analyzing Data with Built-in Features of Python

In this small project, you use standard Python features to analyze the Miete data set. The data set contains the data of 1082 households interviewed for the Munich rent standard. A description of the attributes (column titles) is available in [RDocumentation](https://www.rdocumentation.org/packages/kknn/versions/1.3.1/topics/miete). But our data set contains only 16 (not 18) attributes.

## Initialization

Run the next code cell first, which loads the data set from file `Miete.csv` and converts the data into a nested list `data`. The .csv file and this notebook file should be in the same folder. 

As `data` is a nested list, you can apply list indexing, slicing, comprehensions and enumeration. 

- List indexing is `0`-based.
- `data[0]` returns the attribute names. 
- `data[i]` returns the data of the `i-th` house. For instance, `data[1000]` returns the attributes of the 1000-th house. 
- `data[i][j]` returns the `(j+1)-th` attribute of the `i-th`. For instance, `data[80][2]` returns in which year the 80-th house was built.
- `for v in data[1:]` iterates over all houses in sequence. For instance, `[v[0] for v in data[1:] if v[3]]` returns a list of the rents of the houses with a bath.

In [4]:
import pandas as pd
from pandas import DataFrame as DF
df = pd.read_csv('Miete.csv')
data = [df.columns.values.tolist()]+df.values.tolist()
# data preprocessing
for i in range(1, len(data)):
    for j in range(0, len(data[1])):
        if j == 0:
            data[i][j] = int(data[i][j] * 100) / 100
            continue
        if j == 12:
            data[i][j] = int(data[i][j] * 1000) / 1000
            continue
        data[i][j] = int(data[i][j])
# outputs the column titles and the first four observations
for i in range(5):
    print(data[i])

['Rent', 'FloorSpace', 'YearBuilt', 'Bath', 'CentralHeating', 'HotWater', 'TiledBath', 'WindowType', 'KitchenType', 'LeaseDuration', 'AgeCategory', 'FloorSpaceCategory', 'NetRentPerSqm', 'Rooms', 'AddressType', 'ResidenceType']
[693.29, 50, 1971, 0, 1, 0, 0, 0, 0, 2, 4, 1, 13.865, 1, 2, 2]
[736.6, 70, 1971, 0, 1, 0, 0, 0, 0, 26, 4, 2, 10.522, 3, 2, 2]
[732.23, 50, 1971, 0, 1, 0, 0, 0, 0, 1, 4, 1, 14.644, 1, 2, 2]
[1295.14, 55, 1893, 0, 1, 0, 0, 0, 0, 0, 1, 2, 23.548, 3, 2, 2]

## Data Retrieval

Use the output of a Python snippet to answer each question. For instance, the output of snippet `data[1][9]` answers question "How long was the lease duration of the first house?" Write your code under the `pass` statement in a TODO code cell.

### Question 1

In which year was the first house in the data set built?

In [4]:
### TODO 1 ####
min([x[2] for x in data[1:]])

1971

### Question 2

How much was the rent of the tenth house in the data set?

In [9]:
### TODO 2 ####
data[10][0]

657.44

### Question 3

How many rooms were there in the last house in the data set?

In [10]:
### TODO 3 ####
pass
data[1082][13]

2

### Question 4

How much was the rent of each house built before 1880? Return a list of the rents. Sample output: `[644.4, 441.52, 837.9, ...]`. Hint: Use list comprehensions. Note that you should begin with `data[1]`, not `data[0]` as `data[0]` returns attribute names, not attribute values.

In [11]:
#### TODO 4 ####
pass
[rent[0] for rent in data[1:] if (rent[2]<1880)]

[644.4, 441.52, 837.9, 1091.09, 808.25]

## Data Aggregation

Use the output of a Python snippet to answer each question. Write your code under the `pass` statement in a TODO code cell. You may call Python built-in functions `sum`, `len`, `min` and `max`. For instance, `max([v[0] for v in data[1:] if not v[3]])` returns the highest rent of the houses without a bathroom; while `sum([v[0] for v in data[1:]]) / len([v[0] for v in data[1:]])` returns the average rent. Do **not** use Numpy or pandas methods.

### Question 5

What was the lowest rent of all houses in the data set?

In [12]:
#### TODO 5 ####
pass
min([rent[0] for rent in data[1:]])

127.06

### Question 6

What was the standard deviation of the rents?

In [12]:
### Question 6 ####
pass
import statistics
statistics.stdev(data[1:][0])

509.8100686496516

### Question 7

Variable `AgeCategory` has six levels:  1 - built before 1919  2 - built between 1919 and 1948  3 - built between 1949 and 1965  4 - built between 1966 and 1977 5 - built between 1978 and 1983  6 - built after 1983. What was the average rent of the houses built between 1966 and 1977?

In [17]:
#### TODO 7 ####
pass
sum([rent[0] for rent in data[1:]   if ( rent[2] in range(1966, 1978)) ] )  / len([rent[0] for rent in data[1:]  if ( rent[2] in range(1966, 1978)) ])

829.791902654867

### Question 8

Variable `Rooms` shows the number of rooms in a house. Variable `KitchenType` has two levels: 1 - well equipped kitchen  0 - plain kitchen. What was the highest rent of a house with 3 rooms and a well-equipped kitchen?

In [18]:
#### TODO 8 ####
pass
max([rent[0] for rent in data[1:] if  (rent[13]==3 and rent[8]==1 ) ])

2603.63

### Question 9

Variable `CentralHeating` has two levels: 1 - yes   0 - no. How many houses had central heating?

In [5]:
#### TODO 9 ###
pass
len([x[4] for x in data[1:] if x[4] == 1])

880

### Question 10

In which year was the house with the highest rent constructed?

In [23]:
#### TODO 10 ####
pass
maxrent=max([rent[0] for rent in data[1:]])
maxrent
[x[2] for x in data[1:]if (x[0]==maxrent )]

[1933]

### Question 11

Derive the frequency distribution of the houses in terms of Rooms. Hint: apply the `list.count` method. Sample output:

|\# Rooms   |Frequency |
|:---------:|:---------:|
|1       |137    |
|2       |374    |
|...     |...    |
|8       |0      |
|9       |1      |

In [7]:
#### TODO 11 ####
pass
a = [x[-3] for x in data[1:]]
for i in range(1,max(a)+1):
    n = a.count(i)
    print('The frequency of '+str(i)+' and rooms is: '+str(n))

The frequency of 1 and rooms is: 137
The frequency of 2 and rooms is: 374
The frequency of 3 and rooms is: 384
The frequency of 4 and rooms is: 136
The frequency of 5 and rooms is: 40
The frequency of 6 and rooms is: 9
The frequency of 7 and rooms is: 1
The frequency of 8 and rooms is: 0
The frequency of 9 and rooms is: 1

### Question 12

Variable `YearBuilt` shows in which year each house was constructed. What was the average rent of the houses constructed in the 1990s?

In [9]:
#### TODO 12 ####
pass
sum([x[0] for x in data[1:] if 1990 <= x[2] <= 1999]) / len([x[0] for x in data[1:] if 1990 <= x[2] <= 1999])

1356.7849999999999

## Exploratory Data Analysis

In this section, you develop three questions about the `Miete` data set and then answer these questions with Python code. Write each question in the `Question` Markdown cell, and then write code under the `pass` statement in the corresponding TODO code cell.

### Question 13

How much was the rent of each house that has more than 4 rooms?

In [13]:
#### TODO 13 ####
pass
[v[0] for v in data[1:] if v[13]>4]

[875.1,
 1350.0,
 1306.09,
 1590.44,
 1012.0,
 1261.48,
 258.51,
 675.38,
 2732.53,
 1276.97,
 1830.7,
 1184.54,
 619.72,
 429.96,
 912.0,
 1097.75,
 3010.16,
 651.69,
 977.66,
 1766.11,
 442.04,
 1567.6,
 1693.35,
 394.23,
 551.2,
 535.8,
 647.79,
 560.2,
 868.76,
 950.0,
 1555.12,
 1899.67,
 1716.0,
 3130.0,
 686.4,
 853.8,
 346.61,
 490.13,
 1658.94,
 1641.85,
 1091.09,
 1393.51,
 1241.0,
 1920.0,
 1380.64,
 1350.0,
 1225.0,
 1162.0,
 1216.25,
 591.89,
 2130.21]

### Question 14

How many houses have more than 4 rooms?

In [17]:
#### TODO 14 ####
pass
len([v[0] for v in data[1:] if v[13]>4])

51

### Question 15

What is the average rent of a house with more than 5 rooms?

In [15]:
#### TODO 15 ####
pass
rent_5_rooms=[v[0] for v in data[1:] if v[13]>5]
avg_rent_of_5_rooms=sum(rent_5_rooms)/len(rent_5_rooms)
avg_rent_of_5_rooms

1509.6636363636362